*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to bottom, #009688 15%, #d7dbd7 15% 100%);
}

/* Commons */

.circle-div{
    background-color: whitesmoke;
    border-radius: 50%;
    max-width: 55px;
    max-height: 55px;
}

h3, h4{
    font-weight: 500;
}

.notifications-details>h4, .message .top-message>h4{
    font-weight: 400;
}

.user{
    display: flex;
    align-items: center;
}

.user .circle-div{
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.user .circle-div>img{
    width: 100%;
}

.last-message-date, .last-message{
    color:#c5c5c5;
    font-size: 13px;
}

.header{
    height: 75px;
    padding: 0 15px 0 10px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    flex-wrap: nowrap;
}

.header .icons{
    font-size: 22px;
    color:#b1b1b1;
    display: flex;
    align-items: center;
}

.header .icons>i{
    margin: 0 12px ;
}

.header .icons>i:hover{
    color:gray
}

.container{
    font-family: 'Roboto', sans-serif;
    height: 95%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

/* ------------------ COL SX ------------------ */

.col-sx{
    height: 100%;
    width: 40%;
    min-width: 350px;
}

.col-sx>.header{
    border-right: 1px solid #b1b1b1;
}

/* Notification div */

.notifications{
    height: 85px;
    padding: 0 20px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.notifications>.circle-div{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    font-size: 22px;
    color:#8edafc;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.notifications .notifications-details{
    margin-left: 8px;
}

.notifications .notifications-details>span{
    font-size: 14px;
    font-weight: 300;
    color:grey ;
    text-decoration: underline;
}

/* Search-div: label +input */

.search-bar-div{
    height: 50px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-div .search-label{
    height: 35px;
    width: 70px;
    background-color: white;
    color: #bab9bc;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-div .search-label:hover,
.search-bar-div .search-label:active{
    background-color: rgb(241, 240, 240);

}

.search-bar-div>input{
    height: 35px;
    width: calc(95% - 70px);
    border: 1px solid #e7e7e7 ;
    padding: 0 15px;
}

.search-bar-div>input::placeholder{
    color:#d3d3d3 ;
    font-family: 'Roboto', sans-serif;
}

/* Contact SECTION */

.contacts{
    background-color: white;
    height: calc(100% - 210px);
    overflow-y: scroll;
}

.contacts .person{
    width: 100%;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #e7e7e7;
}

.contacts .person:hover{
    background-color: rgba(231, 231, 231,0.6);
}


/* Class that is added through JS to person when the contact is selected */
.selected{
    background-color: rgba(211, 209, 209, 0.5);
}

.contacts .person>.user{
    align-items: flex-start;
}

.contacts .person>.user .circle-div{
    width: 60px;
    height: 60px;
}

.contacts .person>.user .user-details{
    width:calc(100% - 70px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.contacts .person .user .user-details .name-last-message{
    width:60%;
}

/* ------------------ COL DX ------------------ */

.col-dx{
    height: 100%;
    width: calc(100% - 40%);
    min-width: 400px;
}

.col-dx .header .user .name-last-access .last-access{
    font-size: 14px;
    color:#b1b1b1 ;
}

/* Messages SECTION */

.messages{
    height: calc(100% - 145px);
    width: 100%;
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
}
.messages .messages-container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.message{
    min-width: 200px;
    padding: 15px 15px 5px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    position: relative;
}

.messages .messages-container .message .top-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messages .messages-container .message .top-message>button{
    background-color: transparent;
    border: none;
    width: 10px;
    margin-left: 10px;
    opacity: 0.3;
}

.messages .messages-container .message .top-message>button:hover{
    opacity: 1; 
}

.messages .messages-container .message .top-message .dropdown{
    background-color: #eaeaea;
    color:#b1b1b1 ;
    position: absolute;
    right:0%;
    bottom:-20%;
    z-index:1;
}

.messages .messages-container .message .top-message .dropdown .dropdown-item{
    display: flex;
    justify-content: space-between;
    min-width: 70px;
    align-items: center;
    padding: 10px;
}

.messages .messages-container .message .top-message .dropdown .dropdown-item i:hover{
    color:gray
}

.messages .messages-container .message>.last-message-date{
    align-self: flex-end;
    padding-top: 2px;
    font-size: 12px;
}

.my-message{
    background-color: #DCF8C6;
    align-self: flex-end;
}

.user-message{
    background-color: white;
    align-self: flex-start; 
}

/* Write message div */

.write-message-div{
    height: 70px;
    padding: 0 15px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.write-message-div>i{
    font-size: 22px;
    color: #6b7376;
}

.write-message-div>i:hover{
    color: #4d5355;
}

.write-message-div>input{
    height: 50px;
    width: 85%;
    border-radius: 10px;
    border: none;
    padding: 0 15px;
}

.write-message-div>input::placeholder{
    color: gray;
    font-family: 'Roboto', sans-serif;
}
