*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.circle-div{
    background-color: whitesmoke;
    border-radius: 50%;
    max-width: 55px;
    max-height: 55px;
}

h3, h4{
    font-weight: 500;
}

span{
    font-size: 14px;
    color:gray;
}

.user{
    display: flex;
    align-items: center;
}

.user .circle-div{
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.user .circle-div>img{
    width: 100%;
}

.header{
    height: 75px;
    padding: 0 15px 0 10px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    flex-wrap: nowrap;
}

.header .icons{
    font-size: 22px;
    color:#b1b1b1;
    display: flex;
    align-items: center;
}

.header .icons>i{
    margin: 0 12px ;
}

.background{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #d7dbd7;
}

.background-top{
    height: 110px;
    background-color: #009688;
}

.container{
    font-family: 'Roboto', sans-serif;
    height: 95%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.last-access, .last-message{
    color:#c5c5c5;
    font-size: 13px;
}

/* ------------------ COL SX ------------------ */

.col-sx{
    height: 100%;
    width: 40%;
    min-width: 350px;
}

.col-sx>.header{
    border-right: 1px solid #b1b1b1;
}


.notifications{
    height: 85px;
    padding: 0 20px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.notifications>.circle-div{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color:#8edafc;
}

.search-bar-div{
    height: 50px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-div .search-label{
    width: 70px;
    height: 35px;
    color: #bab9bc;
    background-color: white;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-div>input{
    width: calc(95% - 70px);
    height: 35px;
    border: 1px solid #e7e7e7 ;
    padding: 0 15px;
}

.search-bar-div>input::placeholder{
    color:#d3d3d3 ;
    font-family: 'Roboto', sans-serif;
}

.contacts{
    background-color: white;
    height: calc(100% - 210px);
    overflow-y: scroll;
}

.contacts .person{
    width: 100%;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #e7e7e7;
}

.contacts .person:hover{
    background-color: rgba(231, 231, 231,0.8);
}

.contacts .person:active{
    background-color: rgba(197, 196, 196,0.5);
}

.contacts .person>.user{
    align-items: flex-start;
}

.contacts .person>.user .circle-div{
    width: 60px;
    height: 60px;

}



.contacts .person>.user .user-details{
    width:calc(100% - 70px);
    display: flex;
    justify-content: space-between;
}

/* ------------------ COL DX ------------------ */

.col-dx{
    height: 100%;
    width: calc(100% - 40%);
    min-width: 400px;
}

.messages{
    background-image: url('../img/mine.jpg');
    height: calc(100% - 145px);
    width: 100%;
    overflow-y: scroll;
}
.messages .messages-container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.message{
    padding: 15px 10px 5px 15px;
    min-width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.messages .messages-container .message>.last-access{
    align-self: flex-end;
    padding-top: 2px;
    font-size: 12px;
}

.my-message{
    align-self: flex-end;
    background-color: #DCF8C6;
    
}

.user-message{
    align-self: flex-start;
    background-color: white;
    
}


.write-message-div{
    height: 70px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
}

.write-message-div>i{
    font-size: 22px;
    color: #6b7376;
}

.write-message-div>input{
    width: 85%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #6b7376;
    padding: 0 15px;
}

.write-message-div>input::placeholder{
    color: gray;
    font-family: 'Roboto', sans-serif;
}