<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- Vue CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Day.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.5/dayjs.min.js" integrity="sha512-n6mJ6AqoohFfbgx3x7N162B/zRNs5x8uvsStlHC+LCvqwKW7oiucE07Ehatg62ybx6Vo1ctaZwm/4sSRUTSIQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- My CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!-- start container -->
    <div class="container" id="app">

        <!-- start col-sx -->
        <div class="col-sx">

            <!-- start header-div -->
            <div class="header">

                <!-- start user -->
                <div class="user">
                    <div class="circle-div">
                        <img src="img/av_1.png" alt="">
                    </div>
                    <h3>Piero</h3>
                </div>
                <!-- end user -->

                <!-- start icons -->
                <div class="icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <!-- end icons -->

            </div>
            <!-- end header-div -->

            <!-- start notifications-div -->
            <div class="notifications">
                <div class="circle-div">
                    <i class="fas fa-bell-slash"></i>

                </div>

                <div class="notifications-details">
                    <h4>Ricevi notifiche di nuovi messaggi </h4>
                    <span>Attiva notifiche desktop</span>
                </div>
                
            </div>
            <!-- end notifications-div -->

            <!-- start search-bar-div -->
            <div class="search-bar-div">
                <button class="search-label">
                    <label for="search" >
                        <i class="fas fa-search"></i>
                    </label>
                </button>
                
                <input type="text" name="search" v-model="search" placeholder="Cerca o inizia una nuova chat">
            </div>
            <!-- end search-bar-div -->

            <!-- start section contacts -->
            <section class="contacts">
                <div class="person"  :class ="(index == counter)? selected :''" v-for="(person, index) in filteredContacts" @click="show(index)">
                    <div class="user">
                        <div class="circle-div">
                            <img :src="person.avatar" alt="">
                        </div>

                        <div class="user-details">
                            <div class="name-last-message">
                                <h3>{{person.name}} </h3>
                                <span class="last-message" v-for="message in contacts[index].messages" v-if= " (message == contacts[index].messages[contacts[index].messages.length -1])">{{message.text}}</span>
                            </div>
                            <span class="last-message-date" v-for="message in contacts[index].messages" v-if= " (message == contacts[index].messages[contacts[index].messages.length -1])">{{message.date}}</span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section contacts -->

        </div>
        <!-- end col-sx -->

        <!-- start col-dx -->
        <div class="col-dx">

            <!-- start header-div -->
            <div class="header" >

                <!-- start user -->
                <div class="user" id="user-info">
                    <div class="circle-div">
                        <img :src=" contacts[counter].avatar" alt="">
                    </div>
                    <div class="name-last-access">
                        <h3>{{contacts[counter].name}} </h3>
                        <span class="last-access">Ultimo accesso oggi alle {{date}}</span>
                    </div>
                </div>
                <!-- end user -->

                <!-- start icons -->
                <div class="icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <!-- end icons -->
                
            </div>
            <!-- end header-div -->

            <!-- start section-meassages -->
            <section class="messages">
                <div class="messages-container" id="all-messages"  >
                    <div v-for="(message,index) in contacts[counter].messages" class="message" :class="(message.status == 'sent')? myMessage : userMessage" :id="index">
                        <div class="top-message" >
                            
                            <h4>{{message.text}}</h4>

                            <!-- BUTTON Chevron-down -->
                            <button  @click="toggle(index)"><i class="fas fa-chevron-down" class="fade-chevron"></i></button>

                             <!-- dropdown box -->
                            <div class="dropdown" v-if="active && indexCheck == index">
                                <div class="dropdown-item">
                                    <i class="fas fa-info-circle"></i>
                                    <i class="fas fa-trash-alt" @click="deleteMessage(contacts[counter].messages, index)" ></i>
                                </div>
                            </div>

                        </div>
                        <span class="last-message-date">{{message.date}}</span>
                    </div>

                </div>
            </section>
            <!-- end section-meassages -->

            <!-- start write-message-div -->
            <div class="write-message-div">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="send(contacts[counter].messages)">
                <i class="fas fa-microphone"></i>
            </div>
            <!-- end write-message-div -->
            
        </div>
        <!-- end col-dx -->
        
    </div>
    <!-- end container -->
    

    <script src="js/script.js"></script>
</body>
</html>